{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Grocee - Organic Food HTML Template</title>
    <meta name="description" content="Morden Bootstrap HTML5 Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
    <!-- ======= All CSS Plugins here ======== -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/plugins/glightbox.min.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <!-- Plugin css -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}" />
    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  </head>
  <body>
    <!-- Start preloader -->
    <c-preloader />
    <!-- End preloader -->
    <!-- Start header area -->
    <c-header />
    <!-- End header area -->
    <main class="main__content_wrapper">
      <!-- Start slider section -->
      <c-slider />
      <!-- End slider section -->
      <!-- Start banner section -->
      <c-banner />
      <!-- End banner section -->
      <!-- Start categories product section -->
      <c-categories />
      <!-- End categories product section -->
      <!-- Start product section -->
      <c-product />
      <!-- End product section -->
      <!-- Start deal product section -->
      <c-deal-product />
      <!-- End deal product section -->
      <!-- Start counterup banner section -->
      <c-counterup-banner />
      <!-- End counterup banner section -->
      <!-- Start grid product section -->
      <c-grid-product />
      <!-- End grid product section -->
      <!-- Start blog section -->
      <c-blog />
      <!-- End blog section -->
      <!-- Start shipping section -->
      <c-shipping />
      <!-- End shipping section -->
    </main>
    <!-- Start footer section -->
    <c-footer />
    <!-- End footer section -->
    <!-- Quickview Wrapper -->
    <c-quickview />
    <!-- Quickview Wrapper End -->
    <!-- Start News letter popup -->
    <c-newsletter-popup />
    <!-- End News letter popup -->
    <!-- Scroll top bar -->
    <c-scroll-top />
    <!-- All Script JS Plugins here -->
    <script src="{% static 'assets/js/vendor/popper.js' %}" defer="defer"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}" defer="defer"></script>
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/glightbox.min.js' %}"></script>
    <!-- Customscript js -->
    <script src="{% static 'assets/js/script.js' %}"></script>
  </body>
</html>
