{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Grocee - Organic Food HTML Template</title>
    <meta name="description" content="Morden Bootstrap HTML5 Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
    <!-- ======= All CSS Plugins here ======== -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/plugins/glightbox.min.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <!-- Plugin css -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}" />
    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style-pricing.css' %}" />
  </head>
  <body>
    <!-- Start preloader -->
    <c-preloader />
    <!-- End preloader -->
    <!-- Start header area -->
    <c-header />
    <!-- End header area -->

    {% block main %}

    {% endblock %}

    <!-- Start footer section -->
    {% comment %} <c-footer /> {% endcomment %}
    <!-- End footer section -->
    <!-- Scroll top bar -->
    <c-scroll-top />
    <!-- All Script JS Plugins here -->
    <script src="{% static 'assets/js/vendor/popper.js' %}" defer="defer"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}" defer="defer"></script>
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/glightbox.min.js' %}"></script>
    <!-- Customscript js -->
    <script src="{% static 'assets/js/script.js' %}"></script>
  </body>
</html>
