{% extends 'oscar/base-grocee.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block main %}
  <main class="main__content_wrapper">
    <c-banner-rs250 />
    <!-- Start slider section -->
    {% comment %} <c-slider /> {% endcomment %}
    <!-- End slider section -->
    <!-- Start banner section -->
    <c-pricing />
    {% comment %} <c-banner /> {% endcomment %}
    <!-- End banner section -->
    <!-- Start categories product section -->
    {% comment %} <c-categories />
    <!-- End categories product section -->
    <!-- Start product section -->
    <c-product />
    <!-- End product section -->
    <!-- Start deal product section -->
    <c-deal-product />
    <!-- End deal product section -->
    <!-- Start counterup banner section -->
    <c-counterup-banner />
    <!-- End counterup banner section -->
    <!-- Start grid product section -->
    <c-grid-product />
    <!-- End grid product section -->
    <!-- Start blog section -->
    <c-blog />
    <!-- End blog section -->
    <!-- Start shipping section -->
    <c-shipping />
    <!-- End shipping section -->
    <!-- Quickview Wrapper -->
    <c-quickview />
    <!-- Quickview Wrapper End -->
    <!-- Start News letter popup -->
    <c-newsletter-popup /> {% endcomment %}
    <!-- End News letter popup -->
  </main>
{% endblock %}
