{% load static %}
<section class="product__section product__categories--section section--padding pt-0">
  <div class="container">
    <div class="section__heading mb-40">
      <h2 class="section__heading--maintitle">Featured Categories</h2>
    </div>
    <div class="product__section--inner categories2__swiper--activation swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="categories2__product--items text-center">
            <div class="categories2__product--thumbnail">
              <a class="categories2__product--link display-block" href="#"><img class="categories2__product--img display-block" src="{% static 'assets/img/product/categories5.png' %}" alt="categories-img" /></a>
            </div>
            <div class="product__categories--content2">
              <h3 class="product__categories--content2__maintitle"><a href="#">Vegan Broccoli</a></h3>
              <span class="product__categories--content__subtitle">7 products</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product__items text-center">
            <div class="categories2__product--thumbnail">
              <a class="categories2__product--link display-block" href="#"><img class="categories2__product--img display-block" src="{% static 'assets/img/product/categories6.png' %}" alt="categories-img" /></a>
            </div>
            <div class="product__categories--content2">
              <h3 class="product__categories--content2__maintitle"><a href="#">Fresh Fruits</a></h3>
              <span class="product__categories--content__subtitle">6 products</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product__items text-center">
            <div class="categories2__product--thumbnail">
              <a class="categories2__product--link display-block" href="#"><img class="categories2__product--img display-block" src="{% static 'assets/img/product/categories7.png' %}" alt="categories-img" /></a>
            </div>
            <div class="product__categories--content2">
              <h3 class="product__categories--content2__maintitle"><a href="#">Apple Juice</a></h3>
              <span class="product__categories--content__subtitle">10 products</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product__items text-center">
            <div class="categories2__product--thumbnail">
              <a class="categories2__product--link display-block" href="#"><img class="categories2__product--img display-block" src="{% static 'assets/img/product/categories8.png' %}" alt="categories-img" /></a>
            </div>
            <div class="product__categories--content2">
              <h3 class="product__categories--content2__maintitle"><a href="#">Fresh Berries</a></h3>
              <span class="product__categories--content__subtitle">12 products</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product__items text-center">
            <div class="categories2__product--thumbnail">
              <a class="categories2__product--link display-block" href="#"><img class="categories2__product--img display-block" src="{% static 'assets/img/product/categories9.png' %}" alt="categories-img" /></a>
            </div>
            <div class="product__categories--content2">
              <h3 class="product__categories--content2__maintitle"><a href="#">Orange Juice</a></h3>
              <span class="product__categories--content__subtitle">8 products</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product__items text-center">
            <div class="categories2__product--thumbnail">
              <a class="categories2__product--link display-block" href="#"><img class="categories2__product--img display-block" src="{% static 'assets/img/product/categories10.png' %}" alt="categories-img" /></a>
            </div>
            <div class="product__categories--content2">
              <h3 class="product__categories--content2__maintitle"><a href="#">Vegan Broccoli</a></h3>
              <span class="product__categories--content__subtitle">13 products</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper__nav--btn swiper-button-next"></div>
      <div class="swiper__nav--btn swiper-button-prev"></div>
    </div>
  </div>
</section>
