{% load static %}
<section class="product__section section--padding">
  <div class="container">
    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-2">
      <div class="col custom-col">
        <div class="product__grid--wrapper">
          <div class="product__grid--heading">
            <h2 class="product__grid--heading__title">Best Seller</h2>
          </div>
          <div class="product__grid--inner">
            <div class="product__grid--items d-flex align-items-center">
              <div class="product__grid--items--thumbnail">
                <a class="product__items--link" href="#">
                  <img class="product__grid--items__img product__primary--img" src="{% static 'assets/img/product/small-product1.png' %}" alt="product-img" />
                  <img class="product__grid--items__img product__secondary--img" src="{% static 'assets/img/product/small-product2.png' %}" alt="product-img" />
                </a>
              </div>
              <div class="product__grid--items--content">
                <h3 class="product__grid--items--content__title h4"><a href="#">Green-surface</a></h3>
                <div class="product__items--price">
                  <span class="current__price text-black">$58.00</span>
                </div>
                <div class="product__items--rating d-flex align-items-center">
                  <ul class="d-flex">
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="#c7c5c2" />
                        </svg>
                      </span>
                    </li>
                  </ul>
                  <span class="product__items--rating__count--number">(24)</span>
                </div>
              </div>
            </div>
            <div class="product__grid--items d-flex align-items-center">
              <div class="product__grid--items--thumbnail">
                <a class="product__items--link" href="#">
                  <img class="product__grid--items__img product__primary--img" src="{% static 'assets/img/product/small-product3.png' %}" alt="product-img" />
                  <img class="product__grid--items__img product__secondary--img" src="{% static 'assets/img/product/small-product4.png' %}" alt="product-img" />
                </a>
              </div>
              <div class="product__grid--items--content">
                <h3 class="product__grid--items--content__title h4"><a href="#">Fresh-whole</a></h3>
                <div class="product__items--price">
                  <span class="current__price text-black">$67.00</span>
                </div>
                <div class="product__items--rating d-flex align-items-center">
                  <ul class="d-flex">
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="#c7c5c2" />
                        </svg>
                      </span>
                    </li>
                  </ul>
                  <span class="product__items--rating__count--number">(24)</span>
                </div>
              </div>
            </div>
            <div class="product__grid--items d-flex align-items-center">
              <div class="product__grid--items--thumbnail">
                <a class="product__items--link" href="#">
                  <img class="product__grid--items__img product__primary--img" src="{% static 'assets/img/product/small-product5.png' %}" alt="product-img" />
                  <img class="product__grid--items__img product__secondary--img" src="{% static 'assets/img/product/small-product6.png' %}" alt="product-img" />
                </a>
              </div>
              <div class="product__grid--items--content">
                <h3 class="product__grid--items--content__title h4"><a href="#">Chili-pepper</a></h3>
                <div class="product__items--price">
                  <span class="current__price text-black">$45.00</span>
                </div>
                <div class="product__items--rating d-flex align-items-center">
                  <ul class="d-flex">
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="#c7c5c2" />
                        </svg>
                      </span>
                    </li>
                  </ul>
                  <span class="product__items--rating__count--number">(24)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col custom-col">
        <div class="product__grid--wrapper">
          <div class="product__grid--heading">
            <h2 class="product__grid--heading__title">Trending</h2>
          </div>
          <div class="product__grid--inner">
            <div class="product__grid--items d-flex align-items-center">
              <div class="product__grid--items--thumbnail">
                <a class="product__items--link" href="#">
                  <img class="product__grid--items__img product__primary--img" src="{% static 'assets/img/product/small-product1.png' %}" alt="product-img" />
                  <img class="product__grid--items__img product__secondary--img" src="{% static 'assets/img/product/small-product2.png' %}" alt="product-img" />
                </a>
              </div>
              <div class="product__grid--items--content">
                <h3 class="product__grid--items--content__title h4"><a href="#">Red-tomato</a></h3>
                <div class="product__items--price">
                  <span class="current__price text-black">$48.00</span>
                </div>
                <div class="product__items--rating d-flex align-items-center">
                  <ul class="d-flex">
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="#c7c5c2" />
                        </svg>
                      </span>
                    </li>
                  </ul>
                  <span class="product__items--rating__count--number">(24)</span>
                </div>
              </div>
            </div>
            <div class="product__grid--items d-flex align-items-center">
              <div class="product__grid--items--thumbnail">
                <a class="product__items--link" href="#">
                  <img class="product__grid--items__img product__primary--img" src="{% static 'assets/img/product/small-product3.png' %}" alt="product-img" />
                  <img class="product__grid--items__img product__secondary--img" src="{% static 'assets/img/product/small-product4.png' %}" alt="product-img" />
                </a>
              </div>
              <div class="product__grid--items--content">
                <h3 class="product__grid--items--content__title h4"><a href="#">Papaya-green</a></h3>
                <div class="product__items--price">
                  <span class="current__price text-black">$42.00</span>
                </div>
                <div class="product__items--rating d-flex align-items-center">
                  <ul class="d-flex">
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="#c7c5c2" />
                        </svg>
                      </span>
                    </li>
                  </ul>
                  <span class="product__items--rating__count--number">(24)</span>
                </div>
              </div>
            </div>
            <div class="product__grid--items d-flex align-items-center">
              <div class="product__grid--items--thumbnail">
                <a class="product__items--link" href="#">
                  <img class="product__grid--items__img product__primary--img" src="{% static 'assets/img/product/small-product5.png' %}" alt="product-img" />
                  <img class="product__grid--items__img product__secondary--img" src="{% static 'assets/img/product/small-product6.png' %}" alt="product-img" />
                </a>
              </div>
              <div class="product__grid--items--content">
                <h3 class="product__grid--items--content__title h4"><a href="#">onions-surface</a></h3>
                <div class="product__items--price">
                  <span class="current__price text-black">$48.00</span>
                </div>
                <div class="product__items--rating d-flex align-items-center">
                  <ul class="d-flex">
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="#c7c5c2" />
                        </svg>
                      </span>
                    </li>
                  </ul>
                  <span class="product__items--rating__count--number">(24)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col custom-col d-lg-none d-xl-block">
        <div class="product__grid--wrapper">
          <div class="product__grid--heading">
            <h2 class="product__grid--heading__title">Top Rated</h2>
          </div>
          <div class="product__grid--inner">
            <div class="product__grid--items d-flex align-items-center">
              <div class="product__grid--items--thumbnail">
                <a class="product__items--link" href="#">
                  <img class="product__grid--items__img product__primary--img" src="{% static 'assets/img/product/small-product1.png' %}" alt="product-img" />
                  <img class="product__grid--items__img product__secondary--img" src="{% static 'assets/img/product/small-product2.png' %}" alt="product-img" />
                </a>
              </div>
              <div class="product__grid--items--content">
                <h3 class="product__grid--items--content__title h4"><a href="#">Raw-onions</a></h3>
                <div class="product__items--price">
                  <span class="current__price text-black">$65.00</span>
                </div>
                <div class="product__items--rating d-flex align-items-center">
                  <ul class="d-flex">
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="#c7c5c2" />
                        </svg>
                      </span>
                    </li>
                  </ul>
                  <span class="product__items--rating__count--number">(24)</span>
                </div>
              </div>
            </div>
            <div class="product__grid--items d-flex align-items-center">
              <div class="product__grid--items--thumbnail">
                <a class="product__items--link" href="#">
                  <img class="product__grid--items__img product__primary--img" src="{% static 'assets/img/product/small-product3.png' %}" alt="product-img" />
                  <img class="product__grid--items__img product__secondary--img" src="{% static 'assets/img/product/small-product4.png' %}" alt="product-img" />
                </a>
              </div>
              <div class="product__grid--items--content">
                <h3 class="product__grid--items--content__title h4"><a href="#">Papaya-green</a></h3>
                <div class="product__items--price">
                  <span class="current__price text-black">$46.00</span>
                </div>
                <div class="product__items--rating d-flex align-items-center">
                  <ul class="d-flex">
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="#c7c5c2" />
                        </svg>
                      </span>
                    </li>
                  </ul>
                  <span class="product__items--rating__count--number">(24)</span>
                </div>
              </div>
            </div>
            <div class="product__grid--items d-flex align-items-center">
              <div class="product__grid--items--thumbnail">
                <a class="product__items--link" href="#">
                  <img class="product__grid--items__img product__primary--img" src="{% static 'assets/img/product/small-product5.png' %}" alt="product-img" />
                  <img class="product__grid--items__img product__secondary--img" src="{% static 'assets/img/product/small-product6.png' %}" alt="product-img" />
                </a>
              </div>
              <div class="product__grid--items--content">
                <h3 class="product__grid--items--content__title h4"><a href="#">Whole-fish</a></h3>
                <div class="product__items--price">
                  <span class="current__price text-black">$72.00</span>
                </div>
                <div class="product__items--rating d-flex align-items-center">
                  <ul class="d-flex">
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor" />
                        </svg>
                      </span>
                    </li>
                    <li class="product__items--rating__list">
                      <span class="product__items--rating__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.105" height="9.732" viewBox="0 0 10.105 9.732">
                          <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="#c7c5c2" />
                        </svg>
                      </span>
                    </li>
                  </ul>
                  <span class="product__items--rating__count--number">(24)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col custom-col">
        <div class="product__banner2 position__relative">
          <a class="product__banner2--thumbnail display-block" href="#">
            <img class="product__banner2--thumbnail__img display-block" src="{% static 'assets/img/banner/product-banner2.png' %}" alt="banner-img" />
            <div class="product__banner2--content">
              <h2 class="product__banner2--content__title text-white">Fresh Fruits</h2>
              <h3 class="product__banner2--content__subtitle text-white">Enjoy up to 50% OFF</h3>
              <span class="btn product__banner2--content__btn text-white">Shop Now</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
