{% load static %}
<section class="hero__slider--section">
  <div class="hero__slider--inner hero__slider--activation swiper">
    <div class="hero__slider--wrapper swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero__slider--items slider__2--bg">
          <div class="container">
            {% comment %} <div class="hero__slider--items__inner two">
              <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6 col-md-6">
                  <div class="slider__content2">
                    <span class="slider__content2--subtitle">100% genuine Products</span>
                    <h2 class="slider__content2--maintitle h1">
                      Tasty & Healthy
                      <br />
                      Organic Food
                    </h2>
                    <a class="btn slider__btn" href="#">Shop Now</a>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-6">
                  <div class="hero__slider--layer text-right">
                    <img class="slider__layer--img" src="{% static 'assets/img/slider/vegetables-delivery.jpg' %}" alt="slider-img" />
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
      {% comment %} <div class="swiper-slide">
        <div class="hero__slider--items slider__2--bg">
          <div class="container">
            <div class="hero__slider--items__inner two">
              <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6 col-md-6">
                  <div class="slider__content2">
                    <span class="slider__content2--subtitle">100% genuine Products</span>
                    <h2 class="slider__content2--maintitle h1">
                      Tasty & Healthy
                      <br />
                      Organic Food
                    </h2>
                    <a class="btn slider__btn" href="#">Shop Now</a>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-6">
                  <div class="hero__slider--layer text-right">
                    <img class="slider__layer--img home2__slider--layer__img2" src="{% static 'assets/img/slider/home2-slider2-layer.png' %}" alt="slider-img" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__slider--items slider__2--bg">
          <div class="container">
            <div class="hero__slider--items__inner two">
              <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6 col-md-6">
                  <div class="slider__content2">
                    <span class="slider__content2--subtitle">100% genuine Products</span>
                    <h2 class="slider__content2--maintitle h1">
                      Tasty & Healthy
                      <br />
                      Organic Food
                    </h2>
                    <a class="btn slider__btn" href="#">Shop Now</a>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-6">
                  <div class="hero__slider--layer text-right">
                    <img class="slider__layer--img" src="{% static 'assets/img/slider/home2-slider3-layer.png' %}" alt="slider-img" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
    <div class="slider__pagination swiper-pagination"></div>
  </div>
</section>
